<ion-header no-border>
  <ion-toolbar mode="ios" >
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">MANUAL TERAPÉUTICO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <div
      #panelx>
      <ion-img src="/assets/images/1.png"></ion-img>
      <ion-img src="/assets/images/2.png"></ion-img>
      <ion-img src="/assets/images/3.png"></ion-img>
      <ion-img src="/assets/images/4.png"></ion-img>
    </div>  
    <div
    #panel1>
    <ion-img src="/assets/images/5.png"></ion-img>
    <ion-img src="/assets/images/6.png"></ion-img>
    <ion-img src="/assets/images/7.png"></ion-img>
    <ion-img src="/assets/images/8.png"></ion-img>
    <ion-img src="/assets/images/9.png"></ion-img>
    <ion-img src="/assets/images/10.png"></ion-img>
    <ion-img src="/assets/images/11.png"></ion-img>
    <ion-img src="/assets/images/12.png"></ion-img>
    <ion-img src="/assets/images/13.png"></ion-img>
    <ion-img src="/assets/images/14.png"></ion-img>
    <ion-img src="/assets/images/15.png"></ion-img>
    <ion-img src="/assets/images/16.png"></ion-img>
 </div>
 <div
     
     #panel2>
     <ion-img src="/assets/images/17.png"></ion-img>
     <ion-img src="/assets/images/18.png"></ion-img>
     <ion-img src="/assets/images/19.png"></ion-img>
     <ion-img src="/assets/images/20.png"></ion-img>
     <ion-img src="/assets/images/21.png"></ion-img>
     <ion-img src="/assets/images/22.png"></ion-img>
     <ion-img src="/assets/images/23.png"></ion-img>
     <ion-img src="/assets/images/24.png"></ion-img>
     <ion-img src="/assets/images/25.png"></ion-img>

  </div>
  <div
     #panel3>
     <ion-img src="/assets/images/26.png"></ion-img>
     <ion-img src="/assets/images/27.png"></ion-img>
     <ion-img src="/assets/images/28.png"></ion-img>
     <ion-img src="/assets/images/29.png"></ion-img>
     <ion-img src="/assets/images/30.png"></ion-img>
     <ion-img src="/assets/images/31.png"></ion-img>
     <ion-img src="/assets/images/32.png"></ion-img>
     <ion-img src="/assets/images/33.png"></ion-img>
     <ion-img src="/assets/images/34.png"></ion-img>
     <ion-img src="/assets/images/35.png"></ion-img>
     <ion-img src="/assets/images/36.png"></ion-img>
     <ion-img src="/assets/images/37.png"></ion-img>
     <ion-img src="/assets/images/38.png"></ion-img>
     <ion-img src="/assets/images/39.png"></ion-img>
     <ion-img src="/assets/images/40.png"></ion-img>
  </div>
</ion-content>
